/*
Color palette
{
  "0": "#f2fff7",
  "10": "#6df7ab",
  "20": "#13e498",
  "30": "#00bdbc",
  "40": "#004f87"
}
*/

a {
  color: #004f87;
  text-decoration: none;
}
nav ul {
  position: fixed;
}
nav ul li {
  line-height: 2.5;
  font-size: 1.4rem;
  margin-left: 10px;
}
input {
  font-size: 1rem;
}

.App {
  display: grid;
  height: 100vh;
}
.App > * {
  font-size: 1.2rem;
  line-height: 1.5;
}
.App-header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #004f87;
  color: #f2fff7;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5rem;
  border-radius: 50%;
}
.App-title {
  color: #f2fff7;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-left: 5px;
}
.App-nav {
  grid-area: nav;
  background-color: #00bdbc;
}
.App-content {
  grid-area: content;
  height: 100%;
}
.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #6df7ab;
  color: #f2fff7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 499px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  .App {
    grid-template-areas:
      'header'
      'nav'
      'content'
      'footer';
    grid-template-rows: 50px 0fr 1fr 30px;
  }
  .App-nav {
    transition: transform 0.3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh; /* override Safari bug */
    position: fixed; /* or choose `absolute` depending on desired behavior*/
    width: 200px;
    left: -340px;
    z-index: 1;
  }
  .open-nav {
    transform: translateX(340px);
  }
  .App-nav-menu-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
  }
  .App-nav-close-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-right: 5px;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

@media (min-width: 500px) {
  nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  .App {
    grid-template-areas:
      'header'
      'nav'
      'content'
      'footer';
    grid-template-rows: 50px 50px 1fr 30px;
  }
  .App-nav {
    display: flex;
    align-items: center;
  }
  .App-nav-menu-button {
    display: none;
  }
  .App-nav-close-button {
    display: none;
  }
}

@media (min-width: 700px) {
  nav ul {
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .App {
    grid-template-columns: 200px 700px 1fr;
    grid-template-areas:
      'header header header'
      'nav    content null'
      'footer footer footer';
    grid-template-rows: 50px 1fr 30px;
    grid-gap: 10px;
  }
  .App-nav {
    display: flex;
    align-items: flex-start;
  }
  .App-nav-menu-button {
    display: none;
  }
  .App-nav-close-button {
    display: none;
  }
  .App-content {
  }
}
