nav ul {
  display: flex;
  justify-content: space-around;
}

.App {
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'header'
    'nav'
    'sidebar'
    'content'
    'footer';
  grid-template-rows: 150px min-content 1fr 4fr auto;
}

.App-header {
  grid-area: header;
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 50%;
}

.App-title {
  font-size: 1.5em;
}

.App-nav {
  grid-area: nav;
}

.App-content {
  grid-area: content;
}

.App-sidebar {
  grid-area: sidebar;
}

.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #222;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .App {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'header  header'
      'nav     nav'
      'sidebar content'
      'footer  footer';
    grid-template-rows: 150px 50px 1fr auto;
  }
}

@media (min-width: 700px) {
  .App {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      'header header  header'
      'nav    content sidebar'
      'nav    content sidebar'
      'footer footer  footer';
    grid-template-rows: 150px auto auto min-content;
  }
  nav ul {
    flex-direction: column;
    margin-left: 10px;
  }
  li {
    margin-bottom: 5px;
  }
}
